<!DOCTYPE html>
<html lang="en">
<head>
   <%- include ('./partials/head.ejs') %>
</head>
<body>
    <%- include ('./partials/nav.ejs') %>
    <main class="actorMain">
            <div class="left">
                <img id="actorImg" src= "<%= actor.img %>" >
                <h2> <%= actor.name %></h2>
       
            </div>
           
            <div class="right">
                <p> <%= actor.bio %> </p>
            </div>
      
    </main>

    <div class="actorButtons">
        <a href= "/<%=actor.id%>/edit" class="hover edit">Edit</a>
        <form action="/<%=actor.id%>?_method=DELETE" method="POST">
            <input type=Submit value="Delete Entry" class='hover' id="deleteButton">
        </form>
    </div>
</body>
</html>