<!DOCTYPE html>
<html lang="en">
<head>
   <%- include ('./partials/head.ejs') %>
</head>
<body>
    <%- include ('./partials/nav.ejs') %>
    <main class="actorMain">
            <div class="left">
                <img id="actorImg" src= "<%= actor.img %>" >
                <p> <%= actor.name %></p>
            </div>
            <div class="right">
                <p> <%= actor.bio %> </p>
                <div class="actorButtons">
                    <a href= "/<%=actor.id%>/edit" class="hover">Edit</a>
                    <form action="/<%=actor.id%>?_method=DELETE" method="POST">
                        <input type=Submit value="Delete Entry" class='hover'>
                    </form>
                </div>
            </div>
    </main>
</body>
</html>