<!DOCTYPE html>
<html lang="en">
<head>
   <%- include ('../partials/head.ejs') %>
</head>
<body>
    <%- include ('../partials/nav.ejs') %>
    <main class="indexMain">
        <% for(let i = 0;i < actors.length; i++) { %>
        <a class="indexActor" href="actors/<%=actors[i].id%>">
           
             <img src= "<%= actors[i].img %>" id="actorImageIndex" >
             <br>
            <p > <%= actors[i].name %></p>
        </a>
        <% } %>
    </main>
</body>
</html>