<!DOCTYPE html>
<html lang="en">
<head>
   <%- include ('../partials/head.ejs') %>
</head>
<body>
    <%- include ('../partials/nav.ejs') %>
    <main class="actorMain">
            <div class="left">

                
                <div class="actorImgBox">
                    <img id="actorImg" src= "<%= actor.img %>">
                </div>
                

                <h2> <%= actor.name %></h2>
                
            </div>
           
            <div class="right">
                <p> <%= actor.bio %> </p>
            </div>
      
    </main>
<% if(currentUser){%>
    <div class="actorButtons">
        <a href= "/actors/<%=actor.id%>/edit" class="hover edit">Edit</a>
        <form action="/actors/<%=actor.id%>?_method=DELETE" method="POST">
            <input type=Submit value="Delete Entry" class='hover' id="deleteButton">
        </form>
    </div>
    <% } %>
</body>
</html>